:root{
    --primary-font:'Rosario', sans-serif;
    --primary-robo-font:'Roboto', sans-serif;
    --primary-color:rgba(255, 250, 204, 1);
}

.leftBlocks{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}

.link{
    border-radius: 15px;
    padding: 12px 0 8px 30px;
    background-color:rgba(74, 97, 130, 0.99) ;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items:center; */

}
.premium{
    height: 270px;
    margin-top: 10px;
    border-radius: 15px;
    background-color:rgba(74, 97, 130, 0.99) ;
}



.imgLinks{

    display: flex;
    align-items: center;
}

#vk{
   height: 38px;
   width: 48px;
   background-size: cover;
   

}

#open-book{
    height: 36px;
   width: 44px;
   background-size: cover;
}

#star{
    height: 36px;
   width: 44px;
   background-size: cover;
}

#contract{
    height: 36px;
   width: 44px;
   background-size: cover;
}

#Check{
    height: 36px;
   width: 44px;
   background-size: cover;
}

#book{
    height: 36px;
   width: 44px;
   background-size: cover;
}

#help{
    height: 36px;
   width: 44px;
   background-size: cover;
}

.imgLinks a{
    margin-left: 10px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-decoration: none;
}

.premium{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

.premBlocks{
    padding-right: 15px;
    display: flex;
    align-items: center;
   
}

#brilliant{
    height: 97px;
    width: 99px;
    background-size: cover; 
}

.premBlocks span{
    margin-left: 10px;
    font-size: large;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.premium button {
    height: 60px;
    width: 180px;
    border-radius:200px;
    background-color: rgba(143, 133, 255, 1);
    color:var(--primary-color);
    font-size: large;
    font-family: var(--primary-font);
}
