:root {
  --primary-font: "Rosario", sans-serif;
  --primary-robo-font: "Ubuntu", sans-serif;
  --primary-color: rgba(255, 250, 204, 1);
}

.rightBar {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}

.Advertising {
  border-radius: 15px;
  background-color: rgba(74, 97, 130, 0.99);
  height: 380px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.Advertising h1 {
  margin: 0 auto;
  font-size: xx-large;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.news {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(74, 97, 130, 0.99);
  height: 81%;
  /* height: 250px; */
  /* временно убрать размер до добавления рекламного блока */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news h1 {
  /* margin: 0 auto; */
  /* font-size: xx-large; */
  font-family: var(--primary-robo-font);
  font-size: 30px;
  color: var(--primary-color);
}

.newsBlock {
  padding: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 115px;
  height: 140px;
  background-color: rgba(79, 104, 140, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.news a {
  background-color: rgba(79, 104, 140, 1);
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  font-family: var(--primary-robo-font);
  font-size: 20px;
  border-radius: 15px;
  width: 150px;
  margin-bottom: 30px;
}
.newsHeader {
  margin-top: 0;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
.newsBody {
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  font-size: 16px;
}
