:root {
  --primary-font: "Rosario", sans-serif;
  /* --primary-robo-font:'Roboto', sans-serif; */
  /* --primary-robo-font: "Yandex Sans Text", Helvetica, Arial, sans-serif; */
  --primary-robo-font: "Ubuntu", sans-serif;
  --primary-color: rgba(255, 250, 204, 1);
}

.headNews h1 {
  font-size: 30px;
  margin-left: 30px;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  position: sticky;
  top: 0;
}

.addNewsBlock {
  flex-basis: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: rgba(79, 104, 140, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.headAndDate {
  margin-bottom: 20px;
}

.header {
  font-size: 25px;
  margin-left: 30px;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  /* margin-left: 30px; */
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
}

/*admin*/
.addHeader {
  font-size: 15px;
  border-radius: 15px;
  height: 30px;
  width: 50%;
  background: var(--primary-color);
  font-family: var(--primary-robo-font);
  margin-bottom: 30px;
}

.addText {
  font-size: 15px;
  border-radius: 15px;
  height: 80px;
  width: 80%;
  background: var(--primary-color);
  font-family: var(--primary-robo-font);
}
