:root {
  --primary-font: "Rosario", sans-serif;
  /* --primary-robo-font:'Roboto', sans-serif; */
  /* --primary-robo-font: "Yandex Sans Text", Helvetica, Arial, sans-serif; */
  --primary-robo-font: "Ubuntu", sans-serif;
  --primary-color: rgba(255, 250, 204, 1);
  --dark-primary: #4f688c;
  --dark-light: #5d7ba5;
}

.headRate {
  background-color: rgba(74, 97, 130, 0.99);
  position: sticky;
  top: 0;
}

.h1 {
  font-size: 30px;
  /* margin-left: 30px; */
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  position: sticky;
  top: 0;
}
.promo {
  /* display: flex; */
  background-color: rgba(74, 97, 130, 0.99);
  flex-basis: 50%;
  height: 40em;
  margin-bottom: 100px;
  overflow-y: scroll;
  border-radius: 15px;
}

.promo::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(74, 97, 130, 0.99);
}

.promo::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

/* NEWS*/

.headNews h1 {
  font-size: 30px;
  margin-left: 30px;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  position: sticky;
  top: 0;
}

.newsMainBlock {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: rgba(79, 104, 140, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.headAndDate {
  margin-bottom: 20px;
}

.header {
  font-size: 25px;
  margin-left: 30px;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  /* margin-left: 30px; */
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
}

/* RATING */
.champions {
  text-align: center;
}
.champions .second {
  display: flex;
  justify-content: space-around;
}

.h2 {
  font-size: 20px;
  color: var(--primary-color);
  font-family: var(--primary-robo-font);
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-field {
  margin-bottom: 10px;
}

.input-field input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border-color: #fffacc;
  background-color: var(--primary-color);
}

/* Buttons registr */
.button {
  width: 320px;
  height: 52px;
  margin-top: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-robo-font);
  font-size: 20px;
  color: #fffacc;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.login:hover,
.register:hover {
  transition: 0.2s;
  box-shadow: 1px 1px 5px black;
}
.login {
  background-color: #8f85ff;
}
.register {
  background-color: #b4adff;
}
.regLogo {
  width: 200px;
  height: 200px;
}
.regContent {
  width: 90%;
  /* height: 90%; */
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #4f688c;
  border-radius: 15px;
}
.reg {
  text-align: center;
}

/* OUTLINES */

.outlines {
  height: 100%;
}
.outlinesHeader {
  background-color: #4f688c;
}
.ul {
  font-size: 1.5rem;
  list-style-type: decimal;
  color: var(--primary-color);
}
li {
  text-decoration: underline;
  margin-bottom: 5px;
}

/* test */
.testLinks {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--primary-robo-font);
}
/* ACCOUNT INFI */
.accInfoMain {
  background-color: none;
  padding: 7px;
}

.accInfoInfo {
  margin-bottom: 7px;
  background-color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}
.accInfoInfo span {
  display: block;
  color: var(--primary-color);
  font-size: x-large;
  margin-top: 7px;
  font-family: var(--primary-robo-font);
}
.accInfoInfo img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.accInfoAvatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: var(--dark-light);
  border: solid 1px none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accInfoStat {
  margin-top: 7px;
  background-color: var(--dark-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}
.accInfoInfo table {
  padding: 7px;
  border-collapse: collapse;
  border-color: none;
}
.accInfoInfo tr,
td {
  background-color: #5d7ba5;
  padding: 7px;
}
